header {width: 100%; height: 60px;}

#h_i_b {height: 60px; overflow: hidden;}
.h-i-1 {width: 50%; height: 60px; float: left; background: #c01c27;}
.h-i-1 img {width: 480px; height: 60px; float: right; cursor: pointer;}
.h-i-2 {width: 50%; height: 60px; float: left; background: #dff1ff;}
.h-i-2 img {width: 480px; height: 60px; float: left; cursor: pointer;}

nav {width: 100%; height: auto; margin: 0 auto; float: right; padding-top: 10px;}
nav ul {width: auto; height: 20px; float: right;}
nav ul li {width: auto; height: 30px; float: left;}
nav ul li a {border-right: 1px solid #cdcdcd; margin-right: 4px; padding-right: 4px; font-size: 12px; color: #333;}
nav ul li:nth-of-type(5) a {border-right: 0;}
nav ul li a:hover {color: #285a35; text-decoration:underline;}

footer {width:100%; margin: 0 auto; background-color: #f5f5f5; margin-top: 10px;}
#f_top {width: 100%; height: 50px; margin: 0 auto; border-bottom: 1px solid #dcdcdc;}
#f_top ul {width: 960px; height: 50px; margin: 0 auto;}
#f_top ul li {float: left; margin: 12px 18px;}
#f_top ul li a {font-size: 12px; color: #666;}
#f_top ul li a:hover {color: #285a35; text-decoration: underline;}

#f_bot {width: 960px; height: 120px; margin: 0 auto;}
#f_bot img {float: left; padding-top: 20px;}
.f_text {float: left; color: #666; margin-left: 30px; font-size: 14px; margin-top: 10px; line-height: 1.5;}

.btn {width: 187.25px; float: right; text-align: center; background-color: #333; color: #fff; font-size: 15px; padding: 4px 0px; margin-top: 10px;}
.btn2 {width: 187.25px; float: right; text-align: center; background: #d1d1d1; color: #333; font-size: 15px; padding: 4px 0px; margin-top: 10px;}