#box_area {width: 960px; height: auto; margin: 0 auto;}

#main_bg {position: relative;}
#main_bg::after {background-image: url(../img/bg02.png); top: 0; left: 0; position: absolute; background-size: 600px; opacity: 0.4 !important; filter: alpha(opacity=50); z-index: -1; content: ""; width: 100%; height: 3277px; background-color: #e8e8e8; background-position: center;}

.box-1 {width: 100%; height: 399px; margin: 0 auto; background: #e6f4ff; border-top: 2px solid #285a35;}
.box-1-ul {width: 960px; height: 399px; margin: 0 auto;}
.box-1-ul li {float: left; cursor: pointer;}
.box-1-ul li:nth-of-type(2) {border-left: 1px solid #e6ded0; border-right: 1px solid #e6ded0;}
.today {float: left;}
.today_text {padding-top: 20px; line-height: 1.5;}

.box-2 {width: 960px; padding: 30px; margin: 0 auto; background: #FBF3E6; display: flex; cursor: pointer; border: 1px solid rgba(0, 0, 0, 0); transition: .3s ease-in-out;}
.box-2 img {transition: .3s ease-in-out; box-shadow: 4px 5px 10px rgb(0 0 0 / 16%), 4px 6px 6px rgb(0 0 0 / 23%);}
.box-2:hover {border: 1px solid #918979;}
.box-2:hover img {box-shadow: 10px 15px 20px rgb(0 0 0 / 16%), 4px 6px 6px rgb(0 0 0 / 23%);}

.menu-3 li {width: 25%; color: #3a3a3a; border-right: 1px solid #d2d2d2; font-weight: bold; padding: 15px; cursor: pointer; margin-top: 50px; float: left; text-align: center; background-color: #fff; transition: .2s ease-in-out;}
.menu-3 li:last-of-type {border: 0;}
.menu-3 li:hover {background-color: #daefe0;}
.box-3 {width: 960px; margin: 0 auto; background: #daefe0; margin-bottom: 50px; float: left;}
.box-3 img {width: 162px; height: 230px;}

.t_box {position: relative; width:25%; height: 400px; padding: 20px; float: left; text-align:left; border-radius:4px; box-shadow:4px 4px 4px rgba(0, 0, 0, 0);}
.t_box h6 {padding-top: 5px; width: 162px; font-size: 12px; color: #999;}
.t_box h3 {font-size: 13px; color: #333; padding-top: 2.5px; width: 162px;}
.t_box p {font-size: 11px; color: #333; padding-top: 2.5px; width: 162px;}
.t_box img {box-shadow: 4px 5px 10px rgb(0 0 0 / 16%), 4px 6px 6px rgb(0 0 0 / 23%); border: 1px solid #daefe0; transition: .3s ease-in-out; margin-bottom: 10px;}
.t_box img:hover {border: 1px solid #285a35; box-shadow: 6px 5px 19px rgb(0 0 0 / 16%), 9px 10px 6px rgb(0 0 0 / 23%);;}
.type-box4 {display: none;}
.type-box2 {display: none;}
.type-box3 {display: none;}
.cart {width: 162px; height: 50px; background-color: rgba(0, 0, 0, 0.753); position: absolute; bottom: 150px; z-index: 1; padding: 8px 0px; text-align: center; display: none;}
.c_1 {width: 75px; padding: 6px; color: #fff; border: 1px solid #fff; font-size: 11px; margin: 3px; float: left;}
.c_1:hover {background-color: #fff; color: #333;}
.c_2 {width: 75px; padding: 6px; color: #fff; border: 1px solid #fff; font-size: 11px; margin: 3px; float: left;}
.c_2:hover {background-color: #fff; color: #333;}

.box-4 {width: 960px; padding: 30px; margin: 0 auto; background-color: #e6f4ff; display: flex; justify-content: space-between;}
.box-4 img {width: 156px; height: 226px; transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%); border: 1px solid #dcdcdc; box-sizing: border-box;}
.box-4 img:hover {box-shadow: 0 10px 10px rgba(0, 0, 0, 0.192), 0 1px 2px rgb(0 0 0 / 24%);}

.box-5 {width: 960px; padding: 40px 10px; margin: 0 auto; background-color: #deeadc; display: flex; text-align: center;}
.box-5 img {transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%); border: 1px solid #dcdcdc; box-sizing: border-box;}
.box-5 img:hover {box-shadow: 0 10px 10px rgba(0, 0, 0, 0.192), 0 1px 2px rgb(0 0 0 / 24%);}
.one {width: 50%; height: 225px;}
.one img {margin: 14px;}
.two {width: 50%; height: 225px;}
.two img {margin: 14px;}
.tm_box {float: left;}

.week {float: left;}
.week_text {padding-top: 25px; line-height: 1.5;}

.box-6 {width: 960px; padding: 30px; margin: 0 auto; background: #FBF3E6; display: flex; cursor: pointer; border: 1px solid rgba(0, 0, 0, 0); transition: .3s ease-in-out;}
.box-6 img {transition: .3s ease-in-out; box-shadow: 4px 5px 10px rgb(0 0 0 / 16%), 4px 6px 6px rgb(0 0 0 / 23%);}
.box-6:hover {border: 1px solid #918979;}
.box-6:hover img {box-shadow: 10px 15px 20px rgb(0 0 0 / 16%), 4px 6px 6px rgb(0 0 0 / 23%);}

.price {float: left;}
.price_text {padding-top: 25px; line-height: 1.5;}

.box-7 {width: 960px; padding: 30px; margin: 0 auto; background: #eee; display: flex; cursor: pointer; border: 1px solid rgba(0, 0, 0, 0); transition: .3s ease-in-out;}
.box-7 img {transition: .3s ease-in-out; box-shadow: 4px 5px 10px rgb(0 0 0 / 16%), 4px 6px 6px rgb(0 0 0 / 23%);}
.box-7:hover {border: 1px solid #918979;}
.box-7:hover img {box-shadow: 10px 15px 20px rgb(0 0 0 / 16%), 4px 6px 6px rgb(0 0 0 / 23%);}

.box-8 {width: 100%; height: 140px; margin: 0 auto;}
.icon-8 {width: 960px; height: 140px; margin: 0 auto; margin-top: 50px; text-align: center;}
.icon-8 li {float: left; margin: 0px 35px;}
.icon-8 li:hover a {text-decoration: underline;}
.icon-8 li a {font-size: 18px; color: #2a6137; font-weight: bold;}